
@{
    ViewBag.Title = "MakaleListele";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<MvcBlogPortfolio.Models.Makale>

@helper IcerikKısalt(string metin)
{
if (metin.Length > 300)
{
        <p>@metin.Substring(0, 300)</p>
}
else
{
        @metin
}
}
    <div class="blog-posts col-blog">
@foreach (MvcBlogPortfolio.Models.Makale mkl in Model)
        {
     <div class="post row">
            <div class="col-sm-4">
                <figure>
                    <a href="~/Makale/Detay/@mkl.MakaleId">
                        <div class="text-overlay">
                            <div class="info"><span>Daha Fazla</span></div>
                        </div>
                        <img src="@mkl.Resim.OrtaBoyut" alt="" />
                    </a>
                </figure>
            </div>
            <div class="col-sm-8 post-content">
                <div class="meta"><span class="date">@mkl.EklenmeTarihi</span><span class="comments"><a href="#">@mkl.Yorum.Count <i class="icon-chat-1"> </i></a></span></div>
                <h2 class="post-title"><a href="~/Makale/Detay/@mkl.MakaleId">@mkl.Baslik</a></h2>
                <p>@IcerikKısalt(mkl.Icerik)</p>
            </div>
        </div>
}
        </div>